// Colors
$furigana-text-color: #333;
$furigana-ruby-color: #666;

// Typography
$furigana-font-family: inherit;
$furigana-ruby-font-size: 0.5em;
$furigana-ruby-line-height: 1;

// Spacing
$furigana-ruby-margin: 0;
$furigana-ruby-padding: 0;
